.row.tasks {
  margin:10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  //cursor: move;
}

.row.tasks:hover {
  border: 1px solid #aaa;
}

h5 {
  margin-top: 15px;
}

.result {
  margin-top: 30px;
  display: block;
}

form button {
  margin: 20px 0;
}

.qr-code-icon {
  position: absolute;
  right: 0;
  .mat-icon-button .mat-icon, .mat-icon-button i {
    line-height: 16px;
  }
}
