page-login {

  .content {
    background: linear-gradient(
                    rgba(32, 40, 55, 0.9),
                    rgba(32, 40, 55, 0.7),
                    rgba(32, 40, 55, 0.9)
    ), url("../assets/img/bg.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .item {
    color: white;
  }

  .text-input{
    color:white;
  }

  .spacing {
    text-align: center;
    margin-top: 5rem;
  }

  .label .icon {
    margin-right: 1rem;
  }

  .error-message {
    text-align: right;
    color: #cccccc;
  }

  .error-message .item-inner {
    border-bottom: none!important;
  }

  .label-md[floating] {
    color: white;
  }

}
