<div class="flex-container bg-city">
  <div class="flex-item">

    <md-card>
      <md-card-header>
        <p class="text-center w-100">404 {{"not found" | translate}}</p>
      </md-card-header>

      <md-card-content>
        <div class="page-header text-center">
          <h1 class="text-center m-5">¯\_(ツ)_/¯</h1>
          <button class="text-center" md-raised-button md-ripple color="primary" (click)="takeMeHome()">
            {{"take me home" | translate}}
          </button>
        </div>
      </md-card-content>
    </md-card>

  </div>
</div>
