<ion-header>
    <ion-navbar hideBackButton>

        <ion-buttons left>
            <button ion-button tappable (click)="launchHomPage()" class="page-icon">
                <ion-icon name="ios-arrow-back-outline"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title class="page-title">{{ "Checkpoints" | translate }}</ion-title>

        <ion-buttons right>
            <button ion-button tappable (click)="showExitConfirmation()" class="page-icon">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="currentRace">
        <div class="card-primary-bg">
            <h3 text-center>{{ currentRace.name }}</h3>
            <p text-center>{{ "Time left" | translate}} {{ timeService.timeLeft | secondsToTime }}</p>
            <img src="{{ raceImageUrl }}" class="center"/>
            <p text-justify padding-horizontal>{{ currentRace.description }}</p>
        </div>

        <div class="card-primary-bg">
            <div class="timeline" *ngIf="checkpoints">
                <ng-container *ngFor="let checkpoint of checkpoints">
                    <div class="timeline-item" tappable
                         *ngIf="isCheckpointVisible(checkpoint.number)"
                         (click)="checkpointTapped($event, checkpoint.number)"
                         [ngClass]="{'last': checkpoint.number == checkpoints.length}">
                        <div class="number">
                            {{checkpoint.number}}
                            <small>/ {{checkpoints.length}}</small>
                        </div>
                        <h5>{{checkpoint.name}}</h5>
                        <ion-icon name="ios-arrow-forward"></ion-icon>
                        <p>{{checkpoint.description}}</p>
                    </div>
                </ng-container>
            </div>
        </div>

    </ng-container>
</ion-content>

