.row-race {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.row-race:hover {
  background-color: rgba(96, 125, 139, 0.2);
}

p span, h5 span {
  font-weight: 200;
}

h5 {
  margin-top: 20px;
}
